.profile__edit-button {
  background: no-repeat center / 10px url('../../../images/icon-pen.svg');
  width: 24px;
  height: 24px;
  margin: 0;
  padding: 0;
  border: 1px solid #FFF;
  cursor: pointer;
}

@media screen and (max-width: 450px) {
  .profile__edit-button {
    width: 18px;
    height: 18px;
    background-size: 7.5px;
  }
}
