.card__button-likes {
  background: no-repeat center/contain url("../../../images/icon-likes.svg");
  width: 32px;
  height: 19px;
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
  transition: all .3s ease-in-out;
}
